# The token needed to contact your bot
DISCORD_TOKEN = ''

# Needs to be at the beginning of every command
COMMAND_PREFIX = ''

# Names of the allowed channel
ALLOWED_CHANNEL = []

# Players allowed to use admin commands
ALLOWED_USER_TO_ADMIN_COMMANDS = []

# Channel where the giveaway happens
GIVEAWAY_VOICE_CHANNEL = 0000000000000